# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
# Write your answer here
lst = [[1,2,3], [4,5], [6,7,8,9]]
for i in lst:
    for items in i:
        print(items)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [4]:
# Write your answer here

lst = [[10,20],[30],[5,7,8]]
sum = 0

for num in lst:
    for item in num:
        #print(item)
        sum += item

print("sum is :", sum)

sum is : 80

## **3. Count how many even numbers are present in a nested list.**

In [2]:
# Write your answer here
lst = [[10,20],[30],[5,7,8]]
count = 0

for i in lst:
    for n in i:
        if n % 2 == 0:
         count += 1

print("even num:", count)

even num: 4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [8]:
# Write your answer here
ch = [['hello', 'world'], ['python']]

for n in ch:
    for i in range(len(n)):
        n[i] = n[i].upper()

print(ch)

[['HELLO', 'WORLD'], ['PYTHON']]

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [9]:
# Write your answer here
lst = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]

for marks in lst:
    total = sum(marks)

    print("total is:", total)

total is: 255
total is: 210
total is: 259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [2]:
# Write your answer here

lst = [[20,30], [50,65], [47,76]]

result = []

for n in lst:
    for ch in n:
        if ch > 50:
            result.append(lst)

    print(ch)

30
65
76

## **7. Find the largest number inside a nested list.**

In [8]:
# Write your answer here

lst = [[10,20], [50,80], [75,45]]

largest = 0


for inner_lst in lst:
    for val in inner_lst:
        if val > largest:
            largest = val

print(largest)

80

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [2]:
# Write your answer here

lst = [[1,2], [3,4], [5]]

flat_lst = []

for ch in lst:
    for item in ch:
        flat_lst.append(item)

print(flat_lst)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [5]:
# Write your answer here

lst = [[1,2,-1], [-2,5], [4,7,-2]]

for a in range(len(lst)):
    for b in range(len(lst[a])):
        if lst[a][b] < 0:
            lst[a][b] = 0

            
print(lst)

[[1, 2, 0], [0, 5], [4, 7, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [9]:
# Write your answer here

lst = [[1,2,3], [1,2], [5,6,7]]

count = 0

#for i in lst:
    #for j in i:
        #count += 1

   # print("total", count)


for i in lst:
    if type(i) == list:
        count += 1

print("total count:", count)

total count: 3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [31]:
# Write your answer here

student = {
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
}

for name, ch in student.items():
    print("name:", name, "age:", ch['age'])

name: A age: 15
name: B age: 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [16]:
# Write your answer here

students = {
    "Prachi": {"Maths": 85, "Science" :80},
    "Amisha": {"Maths": 75, "Science" :70},
    "Gayatri": {"Maths": 65, "Science" :60},
    "Aishwarya": {"Maths": 55, "Science" :82}
}

for name, marks in students.items():
    for sub in marks:
        marks[sub] += 5

print(students)

{'Prachi': {'Maths': 90, 'Science': 85}, 'Amisha': {'Maths': 80, 'Science': 75}, 'Gayatri': {'Maths': 70, 'Science': 65}, 'Aishwarya': {'Maths': 60, 'Science': 87}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [14]:
# Write your answer here

students = {
    "Prachi": {"Maths": 85, "Science" :80},
    "Amisha": {"Maths": 75, "Science" :70},
    "Gayatri": {"Maths": 65, "Science" :60},
    "Aishwarya": {"Maths": 55, "Science" :82}
}

for key, val in students.items():
    print(val.keys())

dict_keys(['Maths', 'Science'])
dict_keys(['Maths', 'Science'])
dict_keys(['Maths', 'Science'])
dict_keys(['Maths', 'Science'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [10]:
# Write your answer here
stud = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count = 0

for name, marks in stud.items():
    if marks['math'] > 80:
        count += 1

print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [29]:
# Write your answer here

stud = {
    "Prachi":22,
    "Amisha":23,
    "Priya":12,
    "Riya":13
}

new_dict = {}

for  name, age in stud.items():
    if age > 15 :
        new_dict[name]  = age
        
print(new_dict)

{'Prachi': 22, 'Amisha': 23}

## **16. Find which student scored highest in science.**

In [34]:
# Write your answer here

stud = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88},
  'c': {'math': 75, 'science': 67}
}

highest_marks = 0
highest_student = ""

for name, marks in stud.items():
    if marks['science'] > highest_marks:
        highest_marks = marks['science']
        highest_student = name

print(highest_student, highest_marks)

A 90

## **17. Print employees who belong to the HR department from this dictionary.**

In [47]:
# Write your answer here

employee = {
    "emp1": {"name":"A", "dept":"IT"},
    "emp2": {"name":"B", "dept":"HR"},
    "emp3": {"name":"C", "dept":"IT"},
    "emp4": {"name":"D", "dept":"HR"},
    "emp5": {"name":"E", "dept":"Manager"},
}

for empid, details in employee.items():
    if details["dept"] == "HR":
        print(details["name"])

B
D

## **18. Delete all entries where the status is 'inactive'.**

In [56]:
# Write your answer here

employee = {
    "emp1": {"name":"A", "status":"active"},
    "emp2": {"name":"B", "status":"inactive"},
    "emp3": {"name":"C", "status":"active"},
    "emp4": {"name":"D", "status":"active"},
    "emp5": {"name":"E", "status":"inactive"},
}

for ch in list(employee.keys()):
    if employee[ch]["status"] == "inactive":
        del employee[ch]

print(employee)

{'emp1': {'name': 'A', 'status': 'active'}, 'emp3': {'name': 'C', 'status': 'active'}, 'emp4': {'name': 'D', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [62]:
# Write your answer here

stock = {
    "prod1": {"name":"pen", "quantity":100},
    "prod2": {"name":"pencil", "quantity":50},
    "prod3": {"name":"sharpner", "quantity":10}
}

total = 0

for val in stock.values():
    total += val["quantity"]

print("total is:", total)

total is: 160

## **20. Convert all inner dictionary keys to uppercase.**

In [4]:
# Write your answer here

stock = {
    "prod1": {"name":"pen", "quantity":100},
    "prod2": {"name":"pencil", "quantity":50},
    "prod3": {"name":"sharpner", "quantity":10}
}

new_dt = {}

for outer_key, details in stock.items():
    inner_key = {}
    for  key,value in details.items():
        inner_key[key.upper()] = value
        #print(inner_key)

    new_dt[outer_key] = inner_key

new_dt

{'prod1': {'NAME': 'pen', 'QUANTITY': 100},
 'prod2': {'NAME': 'pencil', 'QUANTITY': 50},
 'prod3': {'NAME': 'sharpner', 'QUANTITY': 10}}