# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [3]:
ls = [1,2,3,4,5]
ls
ls.append(6)
ls

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [6]:
l = ["Apple","Orange","Mango","Kiwi"]
l.insert(2, "Banana")
l

['Apple', 'Orange', 'Banana', 'Mango', 'Kiwi']

3. Create a list of names and remove one name from the list.

In [7]:
nm = ["Prachi","Apurva","Jyoti","Sayali"]
nm.pop()

'Sayali'

4. Create a list of 4 items and change the value at index 2.

In [8]:
items = [10,20,30,40]
items[2] = 50
items

[10, 20, 50, 40]

5. Make a list of numbers and print only the first three elements.

In [11]:
lst = [10,20,30,40,50,60]
lst[0:3]

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [12]:
col = ["Red","Pink","Blue","Black"]
col[2]

'Blue'

7. Create a list of 10 numbers and print how many times “5” appears.

In [13]:
list = [1,2,3,4,5,5,6,7,5,5]
list.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [15]:
item = [1,2,3,4,5,6]
item.remove(4)
item

[1, 2, 3, 5, 6]

9. Create a list of animals and add three more animals using extend().

In [23]:
animal = ["donkey","tiger","lion","dog"]
new_animal = ["elepant","cow","bear"]
animal.extend(new_animal)
animal

['donkey', 'tiger', 'lion', 'dog', 'elepant', 'cow', 'bear']

10. Create a list and remove the last item using pop().

In [27]:
lst = [1,2,3,4,5,6]
lst.pop()

6

11. Create a list of prices and sort them in ascending order.

In [29]:
ls = [500,300,700,200,100]
ls.sort()
ls

[100, 200, 300, 500, 700]

12. Make a list of countries and reverse the order of the list.

In [31]:
cnt = ["India","USA","UK","Iran","Turkey"]
cnt.reverse()
cnt

['Turkey', 'Iran', 'UK', 'USA', 'India']

13. Create a list of words and check if “apple” is in the list.

In [34]:
word = ["grapes","banana","apple","kiwi","pineapple"]
"apple" in word

True

14. Create a list of numbers and print the largest and smallest number.

In [36]:
num = [10,20,30,40,50,60,70]

smallest = min(num)
largest = max(num)

print(smallest)
print(largest)

10
70

15. Make a list of 5 items and print each item using a loop.

In [2]:
item = ["thar","bmw","nano","ford","swift"]
for i in item:
    print(i)

thar
bmw
nano
ford
swift

16. Create two lists and combine them into one list.

In [3]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6, 7, 8]

17. Make a list and replace the last item with a new value.

In [4]:
ls = [1,2,3,4,5]
ls[-1] = 7
ls

[1, 2, 3, 4, 7]

18. Create a list of numbers and print only the even numbers.

In [8]:
num = [1,2,3,4,5,6,7,8,9,10]
even_num = [num for num in num if num % 2 == 0]
even_num

[2, 4, 6, 8, 10]

19. Create a list and clear all items from the list.

In [9]:
lst = [1,2,3,4,5,6,7,8,9]
lst.clear()
lst

[]

20. Create a list of 5 values and copy it into another list.

In [16]:
ls_1= [1,2,3,4,5]
print(ls_1)
ls_2 = ls_1.copy()
print(ls_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]