### What is a function in Python?

In [ ]:
""" function is reusable code which performs a specific task. """

### Write the correct syntax of a Python function.

In [ ]:
"""
def fn_name():
    fn body
    return
fn_name()
"""

'\ndef fn_name()\n    fn body\n    return\nfn_name()\n'

### What is the default return value of a function if no return statement is used?

In [2]:
'none'

'none'

### Define a function named hello() that prints "Hello World".

In [6]:
def hello():
    return "Hello World!"
hello()

'Hello World!'

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
""" Parameter : It is a variable defined in function used to declaration.
Arguments : It is a actual value or expression correspond defination to a function
"""

def sum(a, b):
    sum = a + b
    return sum
sum(6, 8)

14

### What are positional arguments? Give an example.

In [15]:
"""Positional arguments : they comes in fixed way"""

def fn(name, age):
    print(f"Name: {name}, Age: {age}")

fn("Prachi", 22)

Name: Prachi, Age: 22

### What are keyword arguments? Give an example.

In [ ]:
"""Keyword argument : the way to pass values to a function.
The way of arguments does not matters"""

def arg(name, city):
    print(f"Name: {name}, City: {city}")

arg(city="Kolhapur", name="Prachi")

Name: Prachi, City: Kolhapur

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [24]:
"""default parameter: a value of parameter is not provided to function call,
then default is called."""

def city(country):
    return "I live in " + country

city("India")

'I live in India'

### Write a function square(n) that returns the square of a number.

In [25]:
def square(n):
    return n * n
square(7)

49

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [30]:
"""*args: it allows function to accept number of variable/positional arguments"""

def fn(*args):
    return args
fn(1,2,3,4,5)

(1, 2, 3, 4, 5)

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [31]:
"""*kwargs: it allow functions to accept an arbitrary number of arguments"""

def ch(**kwargs):
    return kwargs
ch(name="Prachi", age=22, city="Kolhapur")

{'name': 'Prachi', 'age': 22, 'city': 'Kolhapur'}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [32]:
def op(a, b):
    sum = a + b
    product = a * b

    return(sum, product)
op(10,5)

(15, 50)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [2]:
def fn(a):
    if a % 2 == 0:
        return "even"
    else:
        return "odd"

fn(6)

'even'

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [5]:
def sum(a, b):
    return a+b 

def sub(a, b):
    return a-b 

def mul(a, b):
    return a*b

def div(a, b):
    return a/b

def adapter_func(func, a, b):
    return func(a, b)

result1 = adapter_func(sum, 10, 20)
result2 = adapter_func(sub, 15, 5)
result3 = adapter_func(mul, 4, 5)
result4 = adapter_func(div, 10, 2)

print(result1)
print(result2)
print(result3)
print(result4)

30
10
20
5.0

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [3]:
def process_stud(data):
    for students in data:
        name = students["name"]
        marks = students["marks"]
        total = sum(marks)

        if total > 200:
            print("Grade A", total)
        else:
            print("Grade B", total)

student_data = [
{ "name":"A", "marks": [80,90,70]},
{ "name":"B", "marks": [60,75,65]},
]

process_stud(student_data)

Grade A 240
Grade B 200

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [4]:
def apply_disc(products):
    for data in products:
        name = data["name"]
        price = data["price"]
        discount = data["discount"]
        
        update_price = price - (price * discount / 100)
        print(f"product_name : {name}, Original_val : {price}, updated_val : {update_price}")


product_data = [
    { "name":"Laptop", "price": 50000, "discount":10},
    { "name":"Phone", "price": 20000, "discount":5},
]

apply_disc(product_data)

product_name : Laptop, Original_val : 50000, updated_val : 45000.0
product_name : Phone, Original_val : 20000, updated_val : 19000.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [10]:
def generate_report(employees):
    for emp in employees:
        id = emp['id']
        name = emp['name']
        age = emp['age']
        department = emp['department']
        salary = emp['salary']

        if salary > 50000:
            salary = salary + (salary * 15/100)
        elif salary in range(30000, 50001):
            salary = salary + (salary * 10/100)
        elif salary < 30000:
            salary = salary + (salary* 5/100)

        print(f"id: {id}, name: {name},age: {age},department:{department},Salary: {salary}")

emp_data = [
    {'id':101,'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000},
    {'id':102,'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 40000},
    {'id':103,'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000},
    {'id':104,'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000},
    {'id':105,'name': 'Vijay', 'age': 35, 'department': 'admin', 'salary': 35000},
    ]
generate_report(emp_data)

id: 101, name: Amit,age: 28,department:IT,Salary: 63250.0
id: 102, name: Neha,age: 24,department:HR,Salary: 44000.0
id: 103, name: Raj,age: 31,department:Finance,Salary: 74750.0
id: 104, name: Simran,age: 29,department:IT,Salary: 69000.0
id: 105, name: Vijay,age: 35,department:admin,Salary: 38500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [15]:
def get_employee_names(emp_list):
    return [emp['name'] for emp in emp_list]
    
get_employee_names(emp_data)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [21]:
def filter_by_department(emp_list, department):
    return [emp for emp in emp_list if emp['department'] == department]
filter_by_department(employees_list, 'IT')

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000},
 {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000}]

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [23]:
def highest_salary(emp_list):
    return max(emp_list, key=lambda emp :emp['salary'])
highest_salary(emp_data)

{'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000}

### Write a function average_salary(emp_list) that returns the average salary.

In [31]:
def average_salary(emp_list):
        total = sum(emp['salary'] for emp in emp_list)
        average_salary = total / len(emp_list)
        return average_salary
    
average_salary(emp_data)

51000.0

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [35]:
def salary_hike(emp_list, percent):
    for emp in emp_list:
        emp['salary'] += emp['salary'] * (percent/100)
    return emp_list

salary_hike(emp_data, 20)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 79200.0},
 {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 57600.0},
 {'id': 103,
  'name': 'Raj',
  'age': 31,
  'department': 'Finance',
  'salary': 93600.0},
 {'id': 104,
  'name': 'Simran',
  'age': 29,
  'department': 'IT',
  'salary': 86400.0},
 {'id': 105,
  'name': 'Vijay',
  'age': 35,
  'department': 'admin',
  'salary': 50400.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [ ]:
def out_of_stock(items):
    low_stock_items = []

    for item in items:
        if item['stock'] < 20:
            low_stock_items.append(item)

    return low_stock_items
products = [
    {"name": "mouse", "stock": 20},
    {"name": "printer", "stock":50},
    {"name": "keyboard", "stock": 15}
]

out_of_stock(products)

[{'name': 'keyboard', 'stock': 15}]

### Write total_inventory_value(items) → sum(price * stock).

In [45]:

def total_inventory_value(items):
    total_value = 0
    for n in items:
        total_value += n['price'] * n['stock']
        sum = total_value
        return "sum:" , sum

invertory_value = [
    {'name': 'laptop', 'price':50000, 'stock':10},
    {'name': 'phone', 'price':90000, 'stock':50},
    {'name': 'tap', 'price':65000, 'stock':5},
]

total_inventory_value(invertory_value)

('sum:', 500000)

### Write search_product(items, name) → return matching product(s).

In [51]:

def search_product(item,name):
    for product in item:
        if product['name'] == name:
            return product
    return "Product not found"
item_list = [
    {'name': 'laptop', 'price': 50000},
    {'name': 'Phone', 'price': 20000},
    {'name': 'Tablet', 'price': 15000}]
search_product(item_list, 'Phone')

{'name': 'Phone', 'price': 20000}