### 1. Print numbers from 1 to 10 using a for loop

In [1]:
num = [1,2,3,5,6,7,8,9,10]

for i in num:
    print(i)

1
2
3
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [9]:
ch = "PYTHON" 
for i in ch:
    print(i)

P
Y
T
H
O
N

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [7]:
for i in range(1, 6):
        print(i*i)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [10]:
lst = [10,20,30,40,50]

for i in lst:
    print(i)

10
20
30
40
50

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [15]:
res = 0

for i in range(1, 50):
    res += i

print("Sum:", res)

Sum: 1225

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [17]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

### 8. Print the multiplication table of 7 using a for loop

In [18]:
for i in range(1, 11):
    print(7, "x", i, "=", i*7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### 9. Count how many vowels are in the string 'education' using a for loop

In [20]:
text = "education"
vowels = "aeiou"
count = 0

for ch in text:
    if ch in vowels:
        count += 1
print("num of vowels", count)

num of vowels 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [25]:
for i in range(1, 31):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [29]:
texts = "HELLO world in PYTHON"
count = 0

for ch in texts:
    if ch.isupper():
        count += 1
print("Uppercount is:", count)

Uppercount is: 11

### 12. Create a new list that contains only the positive numbers from another list

In [32]:
lst = [10,-11,34,-73,0]
positive_lst = []

for n in lst:
    if n > 0:
        positive_lst.append(n)
print("Positive num:", positive_lst)

Positive num: [10, 34]

### 13. Print numbers from 1 to 10 using a while loop

In [35]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [38]:
i = 5

while i <= 50:
    print(i)
    i += 5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [40]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [43]:
num = int(input("Enter a number"))

while num != 0:
    print("Entered num:", num)
    num = int(input("enter a number:"))

Entered num: 1
Entered num: 2
Entered num: 3
Entered num: 4

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [47]:
i = 1
total = 0

while i <= 10:
    total += i
    i += 1
print("sum:", total)

sum: 55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [49]:
fruits = {"mango":100, "apple":90, "pineapple":110, "kiwi":500}

for keys in fruits:
    print(keys)

mango
apple
pineapple
kiwi

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [53]:
fruits = {"mango":100, "apple":90, "pineapple":110, "kiwi":500}

for value in fruits.values():
    print(value)

100
90
110
500

### 20. Print both keys and values of a dictionary using a for loop

In [54]:
fruits = {"mango":100, "apple":90, "pineapple":110, "kiwi":500}

for keys, values in fruits.items():
    print(keys, values)

mango 100
apple 90
pineapple 110
kiwi 500

### 21. Count how many keys are in a dictionary using a for loop

In [56]:
fruits = {"mango":100, "apple":90, "pineapple":110, "kiwi":500}
count = 0

for i in fruits:
    count += 1
print("keys:",count)

keys: 4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [60]:
fruits = {"mango":100, "apple":90, "pineapple":110, "kiwi":500}

for i in fruits:
    if i.startswith('a'):
        print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [63]:
students = {
    "Prachi":90,
    "Amisha":95,
    "Pari":80,
    "Sanika":50,
    "Priti":56
}
for name, marks in students.items():
    if marks > 80:
        print(name, marks)

Prachi 90
Amisha 95

### 24. Given a dictionary, print the sum of all the values using a for loop

In [65]:
data ={'a':10,'b':20,'c':30,'d':40,'e':50}
total = 0

for value in data.values():
    total += value

print("sum:", total)

sum: 150

### 25. Given a dictionary, find the key with the highest value using a for loop

In [6]:
fruits = {"mango":100, "apple":950, "pineapple":110, "kiwi":500}

highest_value = 0

for value in fruits.values():
    if value > highest_value:
        highest_value = value
    else:
        high_value = highest_value

print(highest_value)

950

### 26. Convert all dictionary keys into a list using a for loop

In [69]:
data ={'a':10,'b':20,'c':30,'d':40,'e':50}
key_lst = []

for key in data:
    key_lst.append(key)

print("Values:",key_lst)

Values: ['a', 'b', 'c', 'd', 'e']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [75]:
words = {
    "apple":len("apple"),
    "banana":len("banana"),
    "kiwi":len("kiwi"),
    "grapes":len("grapes")
}

for word, length in words.items():
    print(word,'=',length)

apple = 5
banana = 6
kiwi = 4
grapes = 6

### 28. Given a list of numbers, print only numbers greater than 10

In [76]:
data = [10,20,34,6,8,23]

for n in data:
    if n > 10:
        print(n)

20
34
23

### 29. Count how many elements in a list are integers using a for loop

In [77]:
ls = ["one",10,13.6,"five",9,31,"ten"]

a = 0

for item in ls:
    if isinstance(item, int):
        a += 1
print("Interger:", a)

Interger: 3

### 30. Print the sum of all even numbers in a list using a for loop

In [79]:
lst = [10,25,12,56,78,90]
even = 0

for n in lst:
    if n % 2 == 0:
        even += n

print("sum:", even)

sum: 246

### 31. Print the cube of each number in a list of 5 numbers

In [81]:
num = [1,2,3,4,5]

for n in num:
    print(n, "=", n**3)

1 = 1
2 = 8
3 = 27
4 = 64
5 = 125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [82]:
word = "Python is fun"

for n in word:
    print(n)

P
y
t
h
o
n

i
s

f
u
n

### 33. Print the first 5 multiples of 3 using a for loop

In [83]:
for i in range(1, 6):
    print(3 * i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [84]:
names = ["Avinash","Ankit","Suresh","Kiran"]

for n in names:
    if n.startswith('A'):
        print(n)

Avinash
Ankit

### 35. Find the largest number in a list using a for loop

In [88]:
numbers = [12,67,76,89,97,9]

largest_num = numbers[0]

for n in numbers:
    if n > largest_num:
        largest_num = n

print("largest number:", largest_num)

largest number: 97

### 36. Print the index and value of each element in a list

In [89]:
data = ["apple","banana","grapes","cherry","mango"]

for i in range(len(data)):
    print(i, data[i])

0 apple
1 banana
2 grapes
3 cherry
4 mango

### 37. Create a dictionary with 5 students and their marks

In [92]:
stud = {
    "Rahul": 95,
    "Gayatri":75,
    "Aishwarya":97,
    "Raj":65,
    "Mohit":82
    }
stud

{'Rahul': 95, 'Gayatri': 75, 'Aishwarya': 97, 'Raj': 65, 'Mohit': 82}

### 38. Use a for loop to print all student names

In [94]:
student = {'Rahul': 95, 'Gayatri': 75, 'Aishwarya': 97, 'Raj': 65, 'Mohit': 82}

for st in student:
    print(st)

Rahul
Gayatri
Aishwarya
Raj
Mohit

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [95]:
fruits ={
    "apple":100,
    "kiwi":200,
    "grapes":250,
    "cherry":80,
    "banana":60
}

for fruit, price in fruits.items():
    print(fruit, '=', price)

apple = 100
kiwi = 200
grapes = 250
cherry = 80
banana = 60

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [96]:
products = {
    "Tab": 700000,
    "Washing Machine": 85000,
    "Phone":35000,
    "TV":50000,
    "Watch":10000
}

for item in products:
    products[item] = products[item] * 1.10

print(products)

{'Tab': 770000.0000000001, 'Washing Machine': 93500.00000000001, 'Phone': 38500.0, 'TV': 55000.00000000001, 'Watch': 11000.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [12]:
marks = {"a":80, "b":78, "c":49, "d":45, "e":67, "f":59, "g":89, "h":77, "i":90, "j":43}

keys_to_remove = []

for key, value in marks.items():
    if value > 50:
        keys_to_remove.append(key)

for key in keys_to_remove:
    del marks[key]

print(marks)

{'c': 49, 'd': 45, 'j': 43}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [98]:
subjects = {
    "Maths":89,
    "science":56,
    "history":76,
    "physics":82
}

subjects["Computer"] = 94

for subject, mark in subjects.items():
    print(subject, '=', mark)

Maths = 89
science = 56
history = 76
physics = 82
Computer = 94

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [99]:
ages ={
    "Rohit":25,
    "Priya":21,
    "Amit":17,
    "Riya":15
}

for ch in ages:
    ages[ch] = ages[ch] + 1

print(ages)

{'Rohit': 26, 'Priya': 22, 'Amit': 18, 'Riya': 16}

### 44. Print numbers from 0 to 9 using range()

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [8]:
for p in range(5, 16):
    print(p)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [9]:
for num in range(1, 21, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [10]:
lst = [10,20,30,40,50,60,70,80]
len(lst)

8

### 48. Print the length of a given string using len()

In [11]:
str = ("Prachi","Amisha","Purva","Durva","Gayatri")
len(str)

5

### 49. Use range() and len() to iterate over a list by index and print each element

In [16]:
data = ["Prachi","Amisha","Purva","Durva","Gayatri"]

for i in range(len(data)):
    print(i, data[i])

0 Prachi
1 Amisha
2 Purva
3 Durva
4 Gayatri

### 50. Print the sum of numbers from 1 to 100 using range()

In [15]:
sum = 0
for n in range(1, 101):
    sum += n

print("sum is:", sum)

sum is: 5050