### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dict = {"name":"Prachi","age":22,"city":"Kolhapur"}
dict

{'name': 'Prachi', 'age': 22, 'city': 'Kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [16]:
dict.get("name")

'Prachi'

### 3. Create a list of 5 numbers and print the second element.

In [20]:
lst = [1,2,3,4,5]
lst[1]

2

### 4. Add an element "banana" to an existing list.

In [23]:
ele = ["apple","cherry","mango"]
ele.append("banana")
ele

['apple', 'cherry', 'mango', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [29]:
ele = ["mango","banana","cherry","pineapple"]
print(ele)

ele.insert(2,"Apple")
print(ele)

['mango', 'banana', 'cherry', 'pineapple']
['mango', 'banana', 'Apple', 'cherry', 'pineapple']

### 6. Remove the element 10 from a list.

In [34]:
lst1=[1,2,3,4,5,6,7,8,9,10]
print(lst1)

lst1.remove(10)

print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 7. Create a tuple with 4 elements and print the last one.

In [94]:
tp = ("ford","swift","tata","nano")
tp[-1]

'nano'

### 8. Convert a tuple into a list.

In [41]:
tp = ["ford","swift","tata","nano"]
lst = list(tp)
lst

['ford', 'swift', 'tata', 'nano']

### 9. Find the length of a given tuple.

In [42]:
len(tp)

4

### 10. Store 5 student names in a list and print them using a loop.

In [43]:
stud = ["Prachi","Apurva","Riddhi","Jyoti","Sayali"]

for i in stud:
    print(i)

Prachi
Apurva
Riddhi
Jyoti
Sayali

### 11. Create two lists and concatenate them.

In [45]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

result = lst1+lst2
result

[1, 2, 3, 4, 5, 6, 7, 8]

### 12. Reverse a list without using reverse().

In [48]:
lst = [1,2,3,4,5]
lst[::-1]

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [50]:
lst = [19,2,10,6,8]
lst.sort()
lst

[2, 6, 8, 10, 19]

### 14. Create a set with 5 numbers and add a new number.

In [53]:
st = {1,2,3,4,5}
st.add(9)
st

{1, 2, 3, 4, 5, 9}

### 15. Remove an element from a set using discard().

In [57]:
st.discard(5)
st

{2, 3, 4, 9}

### 16. Find the union of two sets.

In [60]:
st1 = {1,2,3,4,4,5}
st2 = {4,5,6,7,8,9}

res = st1.union(st2)
res

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 17. Find the intersection of two sets.

In [62]:
res = st1.intersection(st2)
res

{4, 5}

### 18. Check if a value exists in a set.

In [68]:
res = 4 in st1
res

True

### 19. Create a set and clear all elements.

In [71]:
set = {1,2,3,4,5,6,7}
set.clear()
print(set)

set()

### 20. Convert a list with duplicate values into a set.

In [117]:
lst = [1,2,3,4,4,5]
s = set([lst])
print(s)

TypeError: 'set' object is not callable

### 21. Create a dictionary and update the value of a key.

In [81]:
dict = {"name":"Prachi","age":22,"city":"kolhapur"}
dict["city"] = "pune"
dict

{'name': 'Prachi', 'age': 22, 'city': 'pune'}

### 22. Delete a key-value pair from a dictionary.

In [83]:
dict = {"name":"Prachi","age":22,"city":"kolhapur"}
dict.popitem()

('city', 'kolhapur')

### 23. Print all keys of a dictionary.

In [84]:
dict = {"name":"Prachi","age":22,"city":"kolhapur"}
dict.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [85]:
dict = {"name":"Prachi","age":22,"city":"kolhapur"}
dict.values()

dict_values(['Prachi', 22, 'kolhapur'])

### 25. Loop through a dictionary and print key and value.

In [109]:
dict = {"name":"Prachi","age":22,"city":"kolhapur"}
for key, value in dict.items():
    print(key,":",value)

name : Prachi
age : 22
city : kolhapur

### 26. Create a list of numbers and print only even numbers.

In [89]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even_num = [num for num in num if num % 2 == 0 ]
even_num

[2, 4, 6, 8, 10, 12, 14]

### 27. Create a tuple and unpack it into 3 variables.

In [96]:
tp = (10,20,30)
a,b,c = tp
print(a)
print(b)
print(c)

10
20
30

### 28. Check if a number is greater than 10 using a comparison operator.

In [97]:
num = 15

if num > 10:
    print("Num is exists")
else:
    print("Num is not exists")

Num is exists

### 29. Use the in operator to check if "python" exists in a list.

In [98]:
lst = ["java","python","c","pyspark"]

if "python" in lst:
    print("Its exists")
else:
   print("Not exists")

Its exists

### 30. Use the and operator in a condition.

In [107]:
age = 23
country = "India"

if age > 18 and "country" == "India":
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

### 31. Use the % operator to check if a number is divisible by 5.

In [110]:
num = 30 
if num % 5 == 0:
    print("Number is divisible by 5 ")
else:
    print("Number is not divisible by 5")

Number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [111]:
num = 5 ** 10
num

9765625

### 33. Create two numbers and compare them using >=.

In [115]:
a = 10
b = 15

if a >= b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

### 34. Create a list and remove the last element using pop().

In [116]:
lst = [1,2,3,4,5]
lst.pop()

5

### 35. Create a list and print its first and last elements.

In [124]:
lst = [10,20,30,40,50]
print("First Element:",lst[0])
print("Last Element:",lst[-1])

First Element: 10
Last Element: 50

### 36. Count how many times "apple" appears in a list.

In [125]:
fruits = ["apple","banana","apple","cherry","apple"]
fruits.count("apple")

3

### 37. Create a tuple and check if a value exists using in.

In [127]:
tp = ["Amisha","Prachi","Jyoti","Sayali"]

if "Prachi" in tp:
    print("Its Exists")
else:
    print("Not Exists")

Its Exists

### 38. Convert a dictionaryâ€™s keys into a list.

In [129]:
my_dict = {"name":"Prachi","age":22,"city":"mumbai"}
my_lst = my_dict.keys()
my_lst

dict_keys(['name', 'age', 'city'])

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [132]:
my_dict = { 
    "name":"Prachi",
    "age":22,
    "Subject":{"maths","science","english"}
}
my_dict

{'name': 'Prachi', 'age': 22, 'Subject': {'english', 'maths', 'science'}}

### 40. Merge two dictionaries into one.

In [142]:
my_dict = {"name":"Prachi","age":22,"city":"mumbai"}
my_dict1 = {"name":"Amisha","age":23,"city":"mumbai"}
#res = {**my_dict, **my_dict1}
#res
my_dict.update(my_dict1)
my_dict

{'name': 'Amisha', 'age': 23, 'city': 'mumbai'}

### 41. Create a set and print the number of elements.

In [143]:
st = (10,20,30,40,50)
len(st)

5

### 42. Create a dictionary and print all items using items().

In [148]:
student = {"name":"Prachi","age":22,"city":"mumbai"}

for key, values in student.items():
    print(key, ":", values)

name : Prachi
age : 22
city : mumbai

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [149]:
num = list(range(1, 10+1))

for n in num:
    print(n, "square is:", n*n)

1 square is: 1
2 square is: 4
3 square is: 9
4 square is: 16
5 square is: 25
6 square is: 36
7 square is: 49
8 square is: 64
9 square is: 81
10 square is: 100

### 44. Multiply two numbers and print the result using *.

In [150]:
a = 10
b = 50 

print("Multiplication is:", a*b)

Multiplication is: 500

### 45. Divide two numbers and print the results using / and //.

In [151]:
a = 10
b = 5

print("Division is:", (a/b))
print("Division is:",(a//b))

Division is: 2.0
Division is: 2

### 46. Create a list and replace the element at index 1.

In [153]:
lst = [1,2,3,4,5,6,7,8,9]
lst[1] = 500
lst

[1, 500, 3, 4, 5, 6, 7, 8, 9]

### 47. Create a tuple from user input (3 values).

In [3]:
a = input("Enter 1st elements:")
b = input("Enter 2st elements:")
c = input("Enter 3rd elements:")

tp = (a,b,c)
tp

('10', '20', '30')

### 48. Create a set from a string and print all unique characters.

In [18]:
#del set
my_str = "programming"
unique_char = set(my_str) 

print(f"unique_char : {unique_char}")

unique_char : {'o', 'm', 'a', 'g', 'p', 'n', 'i', 'r'}

### 49. Use the is operator to compare two variables.

In [21]:
a = 10
b = 30

if a is b:
    print("Exists and compared")
else:
    print("Not exists and not compared")

Not exists and not compared

### 50. Create a dictionary and check if a key exists using in.

In [26]:
dict = {
    "name":"avi",
    "age":22
}
print(dict)
if "name" in dict:
    print("it exists")
else:
    print("not Exits")

{'name': 'avi', 'age': 22}
it exists

### 51. Write a program to check if a number is between 10 and 50 using and.

In [38]:
num = int(input("Enter a number:"))

if 10 <= num and num <= 50:
    print("Number is between 10 and 50")
else:
    print("Number is not between 10 and 50")

Number is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [43]:
ab=int(input("Enter the number"))

if ab >= 5 or ab < 20:
    print("number is greater than 5 and 20")
else:
    print("num is less than ")

number is greater than 5 and 20

### 53. Use not to check if a list is not empty.

In [49]:
my_list = [2,4,6,8,10]

if len(my_list) != 0:
    print("list is not empty")

list is not empty

In [46]:
lst = [10,20,30,40,50]

if not lst:
    print("list is empty" )
else:
    print("list is not empty")

list is not empty

### 54. Write code to check if a character is a vowel using or.

In [53]:
ch = input("Enter a String:")

if ch == 'a' or ch == 'e' or ch =='i' or ch == 'o' or ch == 'u':
    print("It is Vowel")
else:
    print("It is not  Vowel")

It is not  Vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [57]:
dict = {
    "name":"avi",
    "age":22
}
# print(dict)

if "name" in dict and "age" in dict:
    print("both are  exists")

both are  exists

### 56. Verify if a set contains either 10 or 20.

In [1]:
my_set = [5,10,15]

if 10 in my_set or 20 in my_set:
    print("set contain 10 or 20")
else:
    print("set does not contain 10 or 20")

set contain 10 or 20

### 57. Use not to check if a number is not equal to 100.

In [3]:
num = 90

if not num == 100:
    print("number is not equal to 100")
else:
    print("number is equal to 100")

number is not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [4]:
marks = 40
attendance = 80
if marks > 35 and attendance > 75:
    print("student passed")
else:
    print("student failed")

student passed

### 59. Use logical operators to check if a number is positive and even.

In [6]:
num = 12
if num > 0 and num  % 2 == 0:
    print("number is positive and even")
else:
    print("number is negative and odd")

number is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [7]:
my_tuple = (1,0,3)
if len(my_tuple) > 3 or 0 in my_tuple:
    print("condition satified")
else:
    print("condition not satified")

condition satified