In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp314-cp314-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
    --------------------------------------- 0.3/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/11.1 MB 1.2 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/11.1 MB 1.4 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/11.1 MB 1.6 MB/s eta 0:00:07
   ------ --------------------------------- 1.8/11.1 MB 1.6 MB/s eta 0:00:06
   --------- ------------------------------ 2.6/11.1 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.1 MB 1.9 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.1 MB 2.0 MB/s eta 0:00:04
   ---------------- ----------------------- 4.5/11.1 MB 2.2 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.1 MB 2.1 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.1 MB 2.1 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.1 MB 1.9 MB/s eta 0:00:04
   ------------------- -------------------- 5.5/11.1 MB 1.9 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.1 MB 2.0 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.1 MB 2.0 MB/s eta 0:00:02
   ---------------------------- ----------- 7.9/11.1 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.1 MB 2.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.4/11.1 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 2.5 MB/s  0:00:04
Downloading numpy-2.3.5-cp314-cp314-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.9 MB 6.0 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/12.9 MB 2.9 MB/s eta 0:00:05
   ----- ---------------------------------- 1.8/12.9 MB 2.8 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/12.9 MB 2.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.4/12.9 MB 2.1 MB/s eta 0:00:05
   -------- ------------------------------- 2.9/12.9 MB 2.2 MB/s eta 0:00:05
   --------- ------------------------------ 3.1/12.9 MB 2.1 MB/s eta 0:00:05
   ----------- ---------------------------- 3.7/12.9 MB 2.0 MB/s eta 0:00:05
   ------------ --------------------------- 3.9/12.9 MB 2.0 MB/s eta 0:00:05
   ------------ --------------------------- 4.2/12.9 MB 1.9 MB/s eta 0:00:05
   -------------- ------------------------- 4.7/12.9 MB 2.0 MB/s eta 0:00:05
   ---------------- ----------------------- 5.2/12.9 MB 2.0 MB/s eta 0:00:04
   ----------------- ---------------------- 5.8/12.9 MB 2.0 MB/s eta 0:00:04
   ------------------- -------------------- 6.3/12.9 MB 2.0 MB/s eta 0:00:04
   --------------------- ------------------ 6.8/12.9 MB 2.0 MB/s eta 0:00:04
   ---------------------- ----------------- 7.3/12.9 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 7.9/12.9 MB 2.1 MB/s eta 0:00:03
   ------------------------- -------------- 8.4/12.9 MB 2.1 MB/s eta 0:00:03
   -------------------------- ------------- 8.7/12.9 MB 2.1 MB/s eta 0:00:03
   ----------------------------- ---------- 9.4/12.9 MB 2.1 MB/s eta 0:00:02
   ------------------------------ --------- 9.7/12.9 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 10.2/12.9 MB 2.1 MB/s eta 0:00:02
   --------------------------------- ------ 10.7/12.9 MB 2.1 MB/s eta 0:00:02
   ---------------------------------- ----- 11.0/12.9 MB 2.1 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.9 MB 2.1 MB/s eta 0:00:01
   ---------------------------------- ----- 11.3/12.9 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 11.3/12.9 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 12.6/12.9 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 1.9 MB/s  0:00:06
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [5]:
acqr_tran_details_transaction = pd.read_csv(r"C:\Users\Dell\Downloads\acqr_tran_details_transaction.csv")

In [6]:
acqr_tran_details_transaction

,pan,beneficiary_account_number,isin,dpid,transact_time,transaction_type,transact_type,transact_qty,total_bal_before,total_bal_after,booking_narr,src_file_name,line_number
0,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,Transfer,IN000018_40762758.txt,1
1,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,Bonus Issue,IN000018_73364780.txt,2
2,AOVPP1557J,IN30614708,INE80809Q01028,DP409,16/06/2025 06:56,1004,C,4368.624,3798.717,14801.498,Transfer,IN000018_57859425.txt,3
3,AOVPP2050J,IN30616421,INE80205Q01028,DP299,05/04/2024 00:24,1002,D,4363.055,1795.980,11140.886,Transfer,IN000018_89467536.txt,4
4,AOVPP2192J,IN30867229,INE80572Q01028,DP142,10/03/2024 12:56,1002,C,9497.260,2064.309,13522.722,Bonus Issue,IN000018_24344237.txt,5
5,AOVPP1287J,IN30154730,INE80498Q01028,DP453,05/10/2024 04:54,1004,D,9795.636,3943.310,12152.814,Transfer,IN000018_30047198.txt,6
6,AOVPP2412J,IN30375726,INE80237Q01028,DP227,06/08/2025 09:08,1004,D,9953.285,3527.401,8638.644,Transfer,IN000018_45532417.txt,7
7,AOVPP6135J,IN30991818,INE80550Q01028,DP954,02/08/2025 20:43,1003,C,8043.096,1278.142,5944.396,Transfer,IN000018_44410290.txt,8
8,AOVPP4827J,IN30501170,INE80202Q01028,DP153,17/08/2025 22:52,1001,C,2170.701,4548.132,6755.193,Transfer,IN000018_60866409.txt,9
9,AOVPP3783J,IN30397233,INE80219Q01028,DP240,12/10/2024 14:02,1002,C,7349.628,3879.431,8138.250,Market Sell,IN000018_92948267.txt,10
10,AOVPP7784J,IN30421969,INE80230Q01028,DP268,01/07/2024 22:55,1003,D,6968.463,3214.355,11591.127,Market Sell,IN000018_22402881.txt,11
11,AOVPP2251J,IN30474462,INE80897Q01028,DP445,23/11/2024 18:45,1001,C,1446.363,3974.686,13280.809,Bonus Issue,IN000018_25196637.txt,12
12,AOVPP2870J,IN30934536,INE80988Q01028,DP109,26/08/2024 06:10,1003,D,6047.232,1758.369,8992.241,Market Sell,IN000018_68447050.txt,13
13,AOVPP8560J,IN30405224,INE80880Q01028,DP103,12/04/2024 15:40,1004,C,5792.260,2024.665,12307.157,Transfer,IN000018_33188722.txt,14
14,AOVPP8668J,IN30362031,INE80170Q01028,DP930,24/01/2025 00:37,1001,D,5428.569,4234.871,11941.286,Transfer,IN000018_66881359.txt,15
15,AOVPP2132J,IN30445683,INE80119Q01028,DP327,04/07/2024 22:25,1001,D,2510.093,3321.459,9420.018,Market Buy,IN000018_35393060.txt,16
16,AOVPP2414J,IN30704778,INE80892Q01028,DP858,10/07/2024 19:58,1001,C,1826.712,2526.546,10126.308,Transfer,IN000018_40984920.txt,17
17,AOVPP6441J,IN30811842,INE80381Q01028,DP839,14/05/2024 11:57,1004,D,4989.898,2700.564,14034.490,Market Sell,IN000018_24940927.txt,18
18,AOVPP3326J,IN30261493,INE80523Q01028,DP290,24/08/2024 01:22,1004,C,6085.003,2269.484,7701.094,Bonus Issue,IN000018_51075643.txt,19
19,AOVPP7021J,IN30388056,INE80911Q01028,DP603,14/05/2024 12:44,1003,C,410.039,1698.261,11858.042,Market Sell,IN000018_28604153.txt,20

In [7]:

acqr_tran_hldng_soh_sot_detail = pd.read_csv(r"C:\Users\Dell\Downloads\acqr_tran_hldng_soh_sot_detail.csv")

In [8]:
acqr_tran_hldng_soh_sot_detail

,pan_acquirer,beneficiary_account_number,isin,dpid,reporting_date,open_bal_on_transact_day,closing_bal_on_transact_day,pledgee_opening_bal,pledgee_closing_bal,percnt_tot_equity_share,pan_bo_category,load_date
0,ABCDE3975F,IN30983498,INE84980R01024,DP296,25/10/2024,319.731,2815.254,157.222,388.407,0.001324,CORPORATE,12/01/2025
1,ABCDE8453F,IN30523039,INE84684R01024,DP646,24/06/2024,1450.771,1901.563,118.656,48.395,0.000603,CORPORATE,01/12/2024
2,ABCDE4597F,IN30367749,INE84509R01024,DP820,08/08/2024,1835.828,659.607,36.722,312.363,0.001667,CORPORATE,01/08/2024
3,ABCDE6684F,IN30251844,INE84413R01024,DP957,28/12/2024,1417.487,1489.637,284.349,349.172,0.000516,CORPORATE,13/06/2025
4,ABCDE1328F,IN30622288,INE84553R01024,DP683,30/06/2024,1252.773,782.448,85.411,363.827,0.000983,INDIVIDUAL,30/04/2024
5,ABCDE6689F,IN30517537,INE84136R01024,DP143,15/12/2024,986.883,1671.871,257.206,396.606,0.000703,CORPORATE,10/11/2024
6,ABCDE1458F,IN30697525,INE84349R01024,DP217,04/09/2025,447.770,595.169,104.205,67.853,0.001490,INDIVIDUAL,15/07/2025
7,ABCDE1575F,IN30867409,INE84221R01024,DP383,22/09/2024,675.654,1711.065,124.332,399.509,0.004270,INDIVIDUAL,31/03/2025
8,ABCDE9266F,IN30136723,INE84778R01024,DP302,17/08/2024,339.566,867.932,50.993,168.940,0.000964,CORPORATE,18/07/2024
9,ABCDE3932F,IN30345492,INE84936R01024,DP851,25/09/2024,1346.067,520.392,129.838,95.133,0.004569,INDIVIDUAL,20/10/2024
10,ABCDE3205F,IN30771223,INE84515R01024,DP631,01/08/2025,620.533,731.849,36.515,129.291,0.001184,CORPORATE,10/01/2024
11,ABCDE1653F,IN30440018,INE84143R01024,DP287,31/05/2025,1750.998,2903.059,28.277,176.723,0.003101,CORPORATE,24/11/2024
12,ABCDE3830F,IN30397191,INE84247R01024,DP804,13/08/2024,1415.904,2348.916,81.998,293.508,0.004611,CORPORATE,03/08/2024
13,ABCDE2226F,IN30575198,INE84512R01024,DP634,10/06/2025,1182.991,1325.283,269.924,242.189,0.002334,CORPORATE,24/06/2025
14,ABCDE7658F,IN30648802,INE84422R01024,DP679,25/01/2025,1266.579,1482.580,217.806,357.818,0.002291,INDIVIDUAL,19/06/2025
15,ABCDE3345F,IN30637149,INE84138R01024,DP971,06/10/2024,1476.772,1420.605,215.403,81.235,0.004949,INDIVIDUAL,05/03/2024
16,ABCDE2482F,IN30587177,INE84750R01024,DP309,14/05/2025,1146.707,671.959,264.284,397.409,0.000949,CORPORATE,06/03/2025
17,ABCDE4864F,IN30916548,INE84928R01024,DP353,21/06/2024,1707.464,1591.778,96.250,185.225,0.000655,INDIVIDUAL,03/08/2025
18,ABCDE2951F,IN30127510,INE84965R01024,DP593,20/07/2025,1194.203,2043.592,202.815,187.954,0.004059,CORPORATE,23/05/2025
19,ABCDE2736F,IN30338467,INE84284R01024,DP425,25/07/2025,284.305,1253.502,207.889,40.011,0.002366,INDIVIDUAL,05/02/2024

In [9]:
hst_isincapdtlsd0 = pd.read_csv(r"C:\Users\Dell\Downloads\hst_isincapdtlsd0.csv")

In [10]:
hst_isincapdtlsd0

,isin,listed_exchange,issued_capital,busi_date,date_last_mdfcn
0,INE80550Q01028,BSE,8.413562e+07,17/08/2024,18/04/2024 03:12
1,INE80484Q01028,NSE,6.156794e+07,01/02/2025,04/01/2025 21:06
2,INE80461Q01028,BSE,7.511137e+07,22/09/2024,30/10/2024 20:53
3,INE80532Q01028,NSE,1.344751e+07,05/02/2025,18/05/2024 16:14
4,INE80467Q01028,BSE,5.393855e+07,24/01/2024,23/05/2025 13:33
5,INE80982Q01028,NSE,1.810132e+07,11/05/2024,02/10/2024 21:22
6,INE80324Q01028,NSE,1.299188e+07,13/12/2024,16/04/2024 02:51
7,INE80257Q01028,BSE,4.025140e+07,13/08/2025,22/11/2024 11:47
8,INE80900Q01028,BSE,1.152459e+07,10/09/2024,05/01/2024 19:12
9,INE80506Q01028,NSE,8.012397e+07,23/12/2024,16/09/2024 08:19
10,INE80118Q01028,NSE,4.078987e+07,22/01/2025,26/08/2024 09:21
11,INE80705Q01028,BSE,9.198884e+07,26/09/2024,22/12/2024 15:57
12,INE80621Q01028,BSE,9.955454e+07,23/02/2024,04/09/2024 00:18
13,INE80987Q01028,NSE,9.324441e+06,11/12/2024,17/12/2024 15:34
14,INE80646Q01028,NSE,1.080285e+07,26/09/2024,15/03/2024 15:34
15,INE80769Q01028,BSE,6.796504e+07,07/12/2024,13/05/2024 17:13
16,INE80625Q01028,NSE,5.126090e+06,16/01/2025,30/06/2025 23:35
17,INE80751Q01028,BSE,3.903026e+07,17/05/2024,03/08/2024 12:48
18,INE80410Q01028,NSE,7.407755e+07,18/02/2025,14/04/2024 18:07
19,INE80332Q01028,BSE,2.498535e+07,06/03/2024,13/01/2025 00:44

In [11]:
papitdtlsd0 = pd.read_csv(r"C:\Users\Dell\Downloads\PAPITDTLSD0.csv")

In [12]:
papitdtlsd0

,issuer_code,pan,bo_id,name_of_the_person,date_last_mdfcn,del_flag,status
0,ISS955,ABCDE2579F,BO80073,John Doe,21/08/2024,N,Active
1,ISS263,ABCDE7181F,BO50393,Amit Patel,16/05/2024,N,Active
2,ISS746,ABCDE8275F,BO73469,Priya Shah,07/06/2024,N,Inactive
3,ISS486,ABCDE4798F,BO34095,John Doe,31/08/2024,Y,Inactive
4,ISS235,ABCDE2824F,BO37123,Rahul Mehta,18/04/2025,N,Active
5,ISS626,ABCDE4741F,BO80524,John Doe,18/11/2024,Y,Active
6,ISS348,ABCDE7958F,BO95117,Priya Shah,08/09/2024,Y,Active
7,ISS629,ABCDE7702F,BO66407,Amit Patel,04/07/2025,N,Active
8,ISS268,ABCDE1284F,BO68232,Amit Patel,31/01/2025,Y,Inactive
9,ISS357,ABCDE4652F,BO65972,Jane Smith,25/06/2025,Y,Inactive
10,ISS319,ABCDE5331F,BO49503,Rahul Mehta,04/04/2024,N,Active
11,ISS255,ABCDE7368F,BO89890,Rahul Mehta,30/05/2025,Y,Active
12,ISS734,ABCDE8789F,BO25568,Jane Smith,09/12/2024,N,Inactive
13,ISS992,ABCDE2157F,BO21360,Amit Patel,10/08/2024,Y,Active
14,ISS476,ABCDE2377F,BO76393,Priya Shah,24/03/2024,N,Active
15,ISS148,ABCDE7856F,BO90187,John Doe,18/06/2025,N,Active
16,ISS466,ABCDE1527F,BO10266,John Doe,15/10/2025,Y,Inactive
17,ISS845,ABCDE3608F,BO96865,Amit Patel,27/03/2025,N,Inactive
18,ISS975,ABCDE8383F,BO97600,Amit Patel,23/01/2025,N,Active
19,ISS338,ABCDE1941F,BO48262,Jane Smith,14/07/2024,Y,Active

In [13]:
sastpit_txn_code = pd.read_csv(r"C:\Users\Dell\Downloads\sastpit_txn_code.csv")

In [14]:
sastpit_txn_code

    regulation  txn_code depository txn_type      txn_description
0           30      1009       CDSL        D          Market Sale
1           29      1003       NSDL        D     Inter-Depository
2           30      1001       CDSL        D          Market Sale
3           29      1007       CDSL        D          Market Sale
4            7      1001       CDSL        C          Market Sale
5            7      1008       NSDL        C      Market Purchase
6           29      1002       CDSL        D          Market Sale
7           29      1010       CDSL        C      Market Purchase
8           30      1004       NSDL        D     Inter-Depository
9           29      1004       CDSL        D          Market Sale
10           7      1009       NSDL        D      Market Purchase
11          30      1003       CDSL        C          Market Sale
12          30      1005       NSDL        D  Off-Market Transfer
13          30      1005       CDSL        C      Market Purchase
14          29      1001       NSDL        C      Market Purchase
15          29      1001       CDSL        C  Off-Market Transfer
16          29      1008       NSDL        C     Inter-Depository
17          29      1010       CDSL        D          Market Sale
18          30      1001       CDSL        D  Off-Market Transfer
19          30      1009       CDSL        C     Inter-Depository

In [15]:
sastpit_txn_code.head()

   regulation  txn_code depository txn_type   txn_description
0          30      1009       CDSL        D       Market Sale
1          29      1003       NSDL        D  Inter-Depository
2          30      1001       CDSL        D       Market Sale
3          29      1007       CDSL        D       Market Sale
4           7      1001       CDSL        C       Market Sale

In [16]:
print("hst_isincapdtlsd0 columns:", hst_isincapdtlsd0.columns.tolist())

hst_isincapdtlsd0 columns: ['isin', 'listed_exchange', 'issued_capital', 'busi_date', 'date_last_mdfcn']

In [17]:
print("PAPITDTLSD0 columns:", papitdtlsd0.columns.tolist())

PAPITDTLSD0 columns: ['issuer_code', 'pan', 'bo_id', 'name_of_the_person', 'date_last_mdfcn', 'del_flag', 'status']

In [18]:
print("sastpit_txn_code columns:", sastpit_txn_code.columns.tolist())

sastpit_txn_code columns: ['regulation', 'txn_code', 'depository', 'txn_type', 'txn_description']

In [19]:
print("acqr_tran_hldng_soh_sot_detail columns:", acqr_tran_hldng_soh_sot_detail.columns.tolist())

acqr_tran_hldng_soh_sot_detail columns: ['pan_acquirer', 'beneficiary_account_number', 'isin', 'dpid', 'reporting_date', 'open_bal_on_transact_day', 'closing_bal_on_transact_day', 'pledgee_opening_bal', 'pledgee_closing_bal', 'percnt_tot_equity_share', 'pan_bo_category', 'load_date']

In [20]:
print("acqr_tran_details_transaction columns:", acqr_tran_details_transaction.columns.tolist())

acqr_tran_details_transaction columns: ['pan', 'beneficiary_account_number', 'isin', 'dpid', 'transact_time', 'transaction_type', 'transact_type', 'transact_qty', 'total_bal_before', 'total_bal_after', 'booking_narr', 'src_file_name', 'line_number']

In [ ]:
# Join transaction with txn code lookup
tran_with_desc = acqr_tran_details_transaction.merge(
    sastpit_txn_code,
    how="left",
    left_on="transaction_type",
    right_on="txn_code"
)

In [ ]:
tran_with_desc.head()

,pan,beneficiary_account_number,isin,dpid,transact_time,transaction_type,transact_type,transact_qty,total_bal_before,total_bal_after,booking_narr,src_file_name,line_number,regulation,txn_code,depository,txn_type,txn_description
0,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,Transfer,IN000018_40762758.txt,1,30,1004,NSDL,D,Inter-Depository
1,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,Transfer,IN000018_40762758.txt,1,29,1004,CDSL,D,Market Sale
2,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,Bonus Issue,IN000018_73364780.txt,2,29,1003,NSDL,D,Inter-Depository
3,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,Bonus Issue,IN000018_73364780.txt,2,30,1003,CDSL,C,Market Sale
4,AOVPP1557J,IN30614708,INE80809Q01028,DP409,16/06/2025 06:56,1004,C,4368.624,3798.717,14801.498,Transfer,IN000018_57859425.txt,3,30,1004,NSDL,D,Inter-Depository

In [ ]:
#Add name of person from PAPITDTLSD0 using PAN
tran_with_person = tran_with_desc.merge(
    papitdtlsd0,
    how="left",
    left_on="pan",
    right_on="pan",
    suffixes=("", "_person")
)

tran_with_person.head()

,pan,beneficiary_account_number,isin,dpid,transact_time,transaction_type,transact_type,transact_qty,total_bal_before,total_bal_after,...,txn_code,depository,txn_type,txn_description,issuer_code,bo_id,name_of_the_person,date_last_mdfcn,del_flag,status
0,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,...,1004,NSDL,D,Inter-Depository,NaN,NaN,NaN,NaN,NaN,NaN
1,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,...,1004,CDSL,D,Market Sale,NaN,NaN,NaN,NaN,NaN,NaN
2,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,...,1003,NSDL,D,Inter-Depository,NaN,NaN,NaN,NaN,NaN,NaN
3,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,...,1003,CDSL,C,Market Sale,NaN,NaN,NaN,NaN,NaN,NaN
4,AOVPP1557J,IN30614708,INE80809Q01028,DP409,16/06/2025 06:56,1004,C,4368.624,3798.717,14801.498,...,1004,NSDL,D,Inter-Depository,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Join with holdings on PAN + account + ISIN
tran_with_holdings = tran_with_person.merge(
    acqr_tran_hldng_soh_sot_detail,
    how="left",
    left_on=["pan", "beneficiary_account_number", "isin"],
    right_on=["pan_acquirer", "beneficiary_account_number", "isin"],
    suffixes=("", "_hold")
)

In [25]:
# Join with ISIN capital details
final_df = tran_with_holdings.merge(
    hst_isincapdtlsd0,
    how="left",
    left_on="isin",
    right_on="isin",
    suffixes=("", "_capital")
)

final_df.head()

,pan,beneficiary_account_number,isin,dpid,transact_time,transaction_type,transact_type,transact_qty,total_bal_before,total_bal_after,...,closing_bal_on_transact_day,pledgee_opening_bal,pledgee_closing_bal,percnt_tot_equity_share,pan_bo_category,load_date,listed_exchange,issued_capital,busi_date,date_last_mdfcn_capital
0,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AOVPP1803J,IN30316880,INE80979Q01028,DP540,28/09/2025 20:21,1004,C,1120.410,1992.674,14423.550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AOVPP2544J,IN30899852,INE80924Q01028,DP439,26/11/2024 22:09,1003,D,5913.838,2686.252,9660.314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AOVPP1557J,IN30614708,INE80809Q01028,DP409,16/06/2025 06:56,1004,C,4368.624,3798.717,14801.498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
final_df["computed_percent_equity"] = (
    final_df["closing_bal_on_transact_day"] / final_df["issued_capital"] * 100
)

final_df[[
    "pan", "beneficiary_account_number", "isin",
    "closing_bal_on_transact_day", "issued_capital",
    "percnt_tot_equity_share", "computed_percent_equity"
]].head()

,pan,beneficiary_account_number,isin,closing_bal_on_transact_day,issued_capital,percnt_tot_equity_share,computed_percent_equity
0,AOVPP1803J,IN30316880,INE80979Q01028,NaN,NaN,NaN,NaN
1,AOVPP1803J,IN30316880,INE80979Q01028,NaN,NaN,NaN,NaN
2,AOVPP2544J,IN30899852,INE80924Q01028,NaN,NaN,NaN,NaN
3,AOVPP2544J,IN30899852,INE80924Q01028,NaN,NaN,NaN,NaN
4,AOVPP1557J,IN30614708,INE80809Q01028,NaN,NaN,NaN,NaN